
      <div class="container text-center" style="margin-top: 50px;">
        <div class="row">
          <div class="col-6">
            <div class="card border-primary mb-3" style="max-width: 20rem; margin-left: 250px;">
              <div class="card-header">Reanna Jaeden Sanglay</div>
              <div class="card-body">
                <h4 class="card-title">SocMed Contacts!</h4>
                <p class="card-text"></p>
                <p>Facebook: Reanna Jaeden Sanglay</p>
                <p>Instagram: Reanna Jaeden Sanglay</p>
                <p>Telegram: Reanna Jaeden Sanglay</p>
                <p>X: Reanna Jaeden Sanglay</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Chrizendrex Galangco Ronquillo</div>
          <div class="card-body">
           <h4 class="card-title">SocMed Contacts!</h4>
            <p class="card-text"></p>
            <p>Facebook: Chrizendrex Ronquillo</p>
            <p>Instagram: Chrizendrex Ronquillo</p>
            <p>Telegram: Chrizendrex Ronquillo</p>
            <p>X: Chrizendrex Ronquillo</p>
          </div>
        </div>
          </div>
        </div>
      </div>
   
