<div class="container">
    <figure>
        <blockquote class="blockquote">
            <h1>WELCOME TO OUT WEBSITE!</h1>
          <p class="mb-0">We’re thrilled to have you visit. This site showcases our project in App Development (AppDev) and serves as a window into our creative process and learning journey. 
            Our team has poured heart and soul into developing innovative applications that aim to solve real-world problems and enhance user experiences.
          </p>  
        </blockquote>
    </figure>
</div>