<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem; margin-left: 250px; margin-top: 50px;">
            <div class="card-header">Reanna Jaeden Sanglay</div>
            <div class="card-body">
              <h4 class="card-title">About Me!</h4>
              <p class="card-text">Hello! Im Reanna, you can also call me Yana or whatever you prefer. Im a 2nd Year BSIT student at University of Baguio. I love exploring new things! </p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-top: 50px;">
            <div class="card-header">Chrizendrex Ronquillo</div>
            <div class="card-body">
              <h4 class="card-title">About me!</h4>
              <p class="card-text">I am 22 years old male, and I love to sleep and study! My strenghts are I can work underpressure but my weaknesses are I am lazy!</p>
              <p>    </p>
            </div>
          </div>
      </div>
    </div>
</div>
